body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #0B2F9F;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-image: url('paris-tourism-background_602089-19465.avif'); /* Replace with your image */
    height: 800px;
    background-size: cover;
    color: white;
    text-align:center; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attraction {
    margin: 20px;
    text-align: center;
    background-color: #87A2FF;
}

.attraction img {
    width: 50%;
    height: auto;
}
.local{
    
    background-color:#E4B1F0;
    text-align: center;
   height: 600px;
}
.contact{
    background-color:#87A2FF ;
    height: 600px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form label, form input, form textarea {
    margin: 10px 0;
}
